$colorVioleta: #49426c;
$colorVioeltaOscuro: #343257;
$colorVioletaDegradado: #49426c7d;
$colorNaranjaPastel: #ebc08b;
$colorVerdePastel: #49a740;
$colorNegro: #000;
$colorGris: #ccc;
$colorBlanco: #fff;
$colorRojoEliminar: #a53131;
